# Standard web development stack
fastapi
uvicorn
python-multipart

spacy

python-dotenv
pydantic

bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]
scikit-learn

#pip install spacy
#python -m spacy download es_core_news_sm